html{
    background: lightblue;
}
body{
    margin: 0px;
}

.playing-game{
    display: none;
}

.restart-button{
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 6px;
}
.lost-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 310px;
    height: 175px;
    border-style: solid;
    background-color: red;
    color: white;
    padding: 10px;

}

.card-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 10px;

}

.card{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    transform: scale(0%);
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    position: relative;

}

.card-image{
    width: 100%;
}

.card.visible{
    transform: scale(100%);

}

.card:hover{
    transform: scale(110%) rotate3d(0, 0, 1, 10deg);
}
.card-name{
    position: absolute;
    top: 85%;
    transform: translateY(-100%);
 
  
   
    color: white;
    text-shadow: 4px 2px 2px black;
 
    font-size: 30px;
}

@media (min-width: 800px){
    body{
        padding: 50px;
    }
}